* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 10vh;
}
.wrapper {
  border: 3px solid;
  width: 60%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: #f6f5f5;
  border-radius: 10px;
}
h1 {
  font-size: 10vh;
}
header {
  padding: 50px;
  text-align: center;
}
.question {
  height: 40px;
  text-align: center;
  padding: 30px;
  font-size: 3vh;
  background-color: #d3e0ea;
}
.answer-box {
  border: 1px solid;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}
.answer1,
.answer2,
.answer3,
.answer4 {
  padding: 30px;
  border: 1px lightgray solid;
  font-size: 3vh;
}
/*.answer1:hover,
.answer2:hover,
.answer3:hover,
.answer4:hover {
  background-color: #ec524b;
}*/

.button {
  padding: 30px;
  text-align: center;
  background-color: #276678;
}

button {
  padding: 20px;
  width: 20vh;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 6px;
  background-color: #e84545;
}
